<section class="section" id="about">
  <div class="container about-container">
    <div class="about-content-container">
      <h2 class="about-title">About</h2>
      <h3 class="about-second-title">A Minimalist Rush Across the Stars</h3>
      <img
        class="about-img-mobile"
        srcset="
          /img/about/about-mobile@1x.png 1x,
          /img/about/about-mobile@2x.png 2x
        "
        src="/img/about/about-mobile@1x.png"
        alt="snake graphic"
        width="288"
        height="229"
      />
      <p class="about-text-first">
        Inspired by the rhythm and precision of the classic Snake game, Space
        Rush challenges you to control a star through an endless orbital maze.
        The longer you survive, the faster it gets.
      </p>
      <p class="about-text">
        Its one-touch gameplay, sleek visual design, and ambient audio make it
        the perfect quick-play game—easy to start, hard to master. Whether
        you're waiting in line or winding down, Space Rush is your go-to time
        killer.
      </p>
    </div>
    <img
      class="about-img-desktop"
      srcset="/img/about/about@1x.png 1x, /img/about/about@2x.png 2x"
      src="/img/about/about@1x.png"
      alt="snake graphic"
      width="552"
      height="411"
    />
  </div>
</section>
