<section class="section" id="contact">
  <div class="container contact-container">
    <h2 class="contact-title">Contact</h2>
    <h3 class="contact-second-title">Reach Out to Us</h3>
    <div class="contact-content">
    <p class="contact-text">
      Have feedback, found a bug, or want to share your high score rage story?
      Drop us a message.
    </p>
    <address class="contact-address">
      Email: <a class="contact-link" href="mailto:info@rushtrack.space">info@rushtrack.space</a>
    </address>
    </div>
  </div>
</section>
