<div class="cookies-popup-container">
  <div id="cookies-popup" class="cookies-popup" role="dialog" aria-modal="true" aria-labelledby="cookies-title"
    style="display:none;" data-cookies-popup>
    <h2 id="cookies-title" class="cookies-title">Cookies Policy</h2>
    <p class="cookies-txt">We use cookies to improve your experience on our website. By browsing this website, you agree
      to our use of
      cookies.</p>
    <div class="cookies-btn-wrapper">
      <button id="accept-cookies" class="accept-cookies-btn" data-accept-cookies>Accept cookies </button>
      <button id="decline-cookies" class="decline-cookies-btn" data-decline-cookies>Decline cookies</button>
    </div>
  </div>
</div>