<section class="section" id="core-features">
  <div class="container core-features-container">
    <div class="core-features-content-container">
      <h2 class="core-features-title">Core Features</h2>
      <h3 class="core-features-second-title">Why Space Rush Stands Out</h3>
      <img
        class="core-features-img-mobile"
        srcset="
          /img/core-features/core-features-mobile@1x.png 1x,
          /img/core-features/core-features-mobile@2x.png 2x
        "
        src="/img/core-features/core-features-mobile@1x.png"
        alt="fragment from the game"
        width="288"
        height="230"
      />
      <ul class="core-feature-list">
        <li class="core-feature-item">Addictive one-thumb controls</li>
        <li class="core-feature-item">
          Dynamic speed increase for real challenge
        </li>
        <li class="core-feature-item">Minimal design with a futuristic edge</li>
        <li class="core-feature-item">
          Celestial sound design that draws you in
        </li>
        <li class="core-feature-item">Playable offline—no internet required</li>
        <li class="core-feature-item">Optimized for all screen sizes</li>
        <li class="core-feature-item">Small app size, fast load time</li>
      </ul>
    </div>
    <img
      class="core-features-img-desktop"
      srcset="
        /img/core-features/core-features@1x.png 1x,
        /img/core-features/core-features@2x.png 2x
      "
      src="/img/core-features/core-features@1x.png"
      alt="fragment from the game"
      width="552"
      height="294"
    />
  </div>
</section>
