<footer class="footer-section">
  <div class="footer-roof container"></div>
  <div class="footer-container container">
    <div class="footer-back-to-top" data-footer-back-to-top>
      <a class="footer-back-to-top-link" href="#hero" data-footer-back-to-top-link>
        <span>Back to top</span>
        <svg class="footer-icon" width="16" height="16" viewBox="0 0 16 16">
          <use xlink:href="/img/sprite.svg#icon-back-to-link"></use>
        </svg>
      </a>
    </div>
    <div class="footer-links">
      <h2 class="footer-links-title">LINKS</h2>
      <ul class="footer-links-list">
        <li><a class="footer-links-list-link" href="#">Privacy Policy</a></li>
        <li><a class="footer-links-list-link" href="#">Terms & Conditions</a></li>
        <li><a class="footer-links-list-link" href="#">Cookies Policy</a></li>
      </ul>
    </div>
    <div class="footer-content-wrapper">
      <span class="footer-title">Space Rush</span>
      <p class="footer-desc">
        is developed by independent creators who value fast gameplay, clean design, and offline accessibility
      </p>
    </div>
    <div class="footer-copyright">
      <span>© 2025 rushtrack.space
        All rights reserved</span>
    </div>
  </div>
</footer>