<section class="section" id="game-info">
  <div class="container">
    <div class="game-info-main">
      <h2 class="game-info-title">Game Info</h2>
      <h3 class="game-info-second-title">Quick Facts</h3>
      <div class="game-info-container">
        <div class="swiper game-info-swiper-content" data-swiper="info">
          <ul class="swiper-wrapper">
            <li class="swiper-slide game-info-item">
              <p class="game-info-item-text">
                Name:<br />Space Rush
              </p>
            </li>
            <li class="swiper-slide game-info-item">
              <p class="game-info-item-text">
                Version:<br />1.0
              </p>
            </li>

            <li class="swiper-slide game-info-item">
              <p class="game-info-item-text">
                Updated on:<br />April 20, 2025
              </p>
            </li>
            <li class="swiper-slide game-info-item">
              <p class="game-info-item-text">
                Platforms: Android<br />(iOS coming soon)
              </p>
            </li>
            <li class="swiper-slide game-info-item">
              <p class="game-info-item-text">
                Minimum Android<br />Version: 6.0
              </p>
            </li>
            <li class="swiper-slide game-info-item">
              <p class="game-info-item-text">
                File Size:<br />12 MB
              </p>
            </li>
            <li class="swiper-slide game-info-item">
              <p class="game-info-item-text">
                Downloads:<br />1,000+
              </p>
            </li>
          </ul>
        </div>
        <div class="game-info-swiper-container">
          <div class="game-info-swiper-line"></div>
          <ul class="game-info-swiper-list">
            <li class="game-info-item-prev" data-nav="info-prev">
              <svg class="game-info-swiper game-info-svg-right" width="29" height="12">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
            <li class="game-info-item-next" data-nav="info-next">
              <svg class="game-info-swiper game-info-svg-left" width="29" height="12">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>