<section class="section" id="game-modes">
  <div class="container game-modes-container">
    <div class="game-modes-content-container">
      <h2 class="game-modes-title">Game Modes & Difficulty</h2>
      <h3 class="game-modes-second-title">Start Simple. End Intense.</h3>
      <img
        class="game-modes-img-mobile"
        srcset="
          /img/game-modes/game-modes@1x.png 1x,
          /img/game-modes/game-modes@2x.png 2x
        "
        src="/img/game-modes/game-modes@1x.png"
        alt="Android-style robot with a difficulty graph"
        width="288"
        height="189"
      />
      <p class="game-modes-text-first">
        Space Rush begins with a slow, forgiving orbit. But every few seconds,
        your speed increases, and timing becomes critical.
      </p>
      <p class="game-modes-text-first">
        There are no levels—just pure skill-based progression. How far can your
        star go before colliding with the edge?
      </p>
      <p class="game-modes-text">
        Challenge your reflexes. Push your focus. It's not just a game. It's a
        rush.
      </p>
    </div>
    <img
      class="game-modes-img-desktop"
      srcset="
        /img/game-modes/game-modes@1x.png 1x,
        /img/game-modes/game-modes@2x.png 2x
      "
      src="/img/game-modes/game-modes@1x.png"
      alt="Android-style robot with a difficulty graph"
      width="552"
      height="294"
    />
  </div>
</section>
