<header class="section-header">
  <div class="container container-header">
    <nav class="header-nav">
      <a class="logo-header" href="./index.html"
        ><img src="/img/logo-mobile.png" width="20" height="20" alt="logo">
      </a>
      <a class="logo-header-desktop" href="./index.html"
        ><img src="/img/logo-desktop.png" width="96" height="96" alt="logo">
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#home">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about">About</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#how-to-play">How to Play</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#core-features">Features</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#game-modes">Game Modes & Difficulty</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#visual-style">Visyal Style</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#screenshots">Screenshots</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#leaderboard">Leaderboard</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#player-testimonials">Player Testimonialsy</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#faq">FAQ</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#game-info">Game info</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="header-btn-icon" type="button" data-action="open">
      <svg class="header-icon-menu" width="20" height="20" >
        <use href="/img/sprite.svg#icon-menu"></use>
      </svg>
    </button>

</div>
</header>


<!-- <header class="header">
  <div class="container">
    <div class="wrapper">
      <nav class="nav">
        <a class="nav-logo" href="./index.html" aria-label="Site logo">
        </a>
      <div class="header__burger-wrapper">
        <button type="button" class="burger-btn" data-action="open">Open menu</button>
        <div class="burger-menu" data-visible="close">
          <ul>
            <li><a href="#">link-1</a></li>
            <li><a href="#">link-2</a></li>
            <li><a href="#">link-3</a></li>
            <li><a href="#">link-4</a></li>
          </ul>
          <button type="button" class="btn-close" data-action="close">close</button>
        </div>
      </div>
    </div>
  </div>
</header> -->