<header class="section-header-page" >
  <div class="container container-header-page">
    <nav class="header-nav-page">
      <a class="logo-header-page" href="./index.html"
        ><img src="/img/logo-mobile.png" width="20" height="20" alt="logo">
      </a>
    </nav>
    <a class="header-btn-icon-page" href="./index.html" aria-label="Back to home" data-action="back">
      <svg class="header-icon-page" width="20" height="20" >
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </a>
</div>
</header>
