<section id="hero" class="hero-section" id="home">
  <div class="container hero-container">
    <h1 class="hero-title">Welcome to Space Rush</h1>
    <h2 class="hero-subtitle">Reflexes ready? Keep the star alive.</h2>
    <div class="hero-bg-wrapper"></div>
    <div class="hero-content-wrapper">
      <div class="hero-link-wrapper">
        <a class="hero-link" href="https://play.google.com/store/apps/details?id=com.eggies.spacerush&hl=en&gl=us"
          target="_blank">
          Play Now on Android
          <img class="hero-link-icon" src="/img/hero/play-market.png" alt="Google Play Icon" width="24" height="24">
        </a>
      </div>
      <div class="hero-txt-wrapper">
        <p class="hero-txt">
          Space Rush is a fast-paced orbit survival game that will put your reaction speed to the ultimate test. Keep
          your
          shooting star circling smoothly, avoid sharp corners, collect celestial baits, and climb the score ladder
          across
          galaxies.
        </p>
      </div>
    </div>
  </div>
</section>