<section class="section" id="how-to-play">
  <div class="container how-to-play-container">
    <div class="how-to-play-content-container">
      <h2 class="how-to-play-title">How to Play</h2>
      <h3 class="how-to-play-second-title">Tap. Orbit. Survive.</h3>
      <img
        class="how-to-play-img-mobile"
        srcset="
          /img/how-to-play/how-to-play@1x.png 1x,
          /img/how-to-play/how-to-play@2x.png 2x
        "
        src="/img/how-to-play/how-to-play@1x.png"
        alt="fragment from the game"
        width="288"
        height="216"
      />
      <p class="how-to-play-text-first">
        Controlling the star is simple—tap to change its direction.
      </p>
      <p class="how-to-play-text-first">
        Your goal: stay inside the square orbit, avoid collisions at corners,
        and collect rotating baits to boost your score. The star will speed up
        over time, testing your reflexes and concentration.
      </p>
      <p class="how-to-play-text">
        Sounds easy? Just wait until you cross the 500-point mark. Only the most
        focused players make it to 1000 and beyond.
      </p>
    </div>
    <img
      class="how-to-play-img-desktop"
      srcset="
        /img/how-to-play/how-to-play@1x.png 1x,
        /img/how-to-play/how-to-play@2x.png 2x
      "
      src="/img/how-to-play/how-to-play@1x.png"
      alt="fragment from the game"
      width="552"
      height="318"
    />
  </div>
</section>
