<section class="section" id="leaderboard">
  <div class="container">
    <h2 class="leaderboard-title">Leaderboard & High Scores</h2>
    <h3 class="leaderboard-second-title">Only the Fastest Survive</h3>
    <ul class="leaderboard-list">
      <li class="leaderboard-item">
        <img
          class="leaderboard-img"
          srcset="
            /img/leaderboard/leaderboard-1@1x.png 1x,
            /img/leaderboard/leaderboard-1@2x.png 2x
          "
          src="/img/leaderboard/leaderboard-1@1x.png"
          alt="Geometric icon: square enclosing a circle with a triangle inside"
        />
        <p class="leaderboar-text">
          Do you have the reflexes to reach 1000? Check the in-game leaderboard
          and see how you rank among global players.
        </p>
      </li>
      <li class="leaderboard-item">
        <img
          class="leaderboard-img"
          srcset="
            /img/leaderboard/leaderboard-2@1x.png 1x,
            /img/leaderboard/leaderboard-2@2x.png 2x
          "
          src="/img/leaderboard/leaderboard-2@1x.png"
          alt="Geometric icon: square enclosing a circle with another circle inside"
        />
        <p class="leaderboar-text">
          Weekly challenges and score milestones give you bragging rights and
          motivation to push further.
        </p>
      </li>
      <li class="leaderboard-item">
        <img
          class="leaderboard-img"
          srcset="
            /img/leaderboard/leaderboard-3@1x.png 1x,
            /img/leaderboard/leaderboard-3@2x.png 2x
          "
          src="/img/leaderboard/leaderboard-3@1x.png"
          alt="Geometric icon: square enclosing a circle with a cross inside"
        />
        <p class="leaderboar-text">
          Offline? Don't worry. Your high score is saved and uploaded when
          you're back online.
        </p>
      </li>
    </ul>
  </div>
</section>
