<div class="modal-menu" data-visible="close">
  <div class="container-menu-modal container">
  <div class="modal-btn-logo">
          <a class="modal-logo" href="./index.html"
        ><img src="/img/logo-mobile.png" width="20" height="20" alt="logo">
      </a>
  <button type="button" class="modal-btn-close" aria-label="Close modal" data-action="close">
    <svg class="modal-icon-close" width="20" height="20">
      <use href="/img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  </div>
  <nav class="navigation-menu-modal">

    <ul class="modal-list">
      <li class="modal-nav-item" data-nav>
        <a class="modal-nav-link" href="#home" data-scroll>Home</a>
      </li>
      <li class="modal-nav-item" data-nav>
        <a class="modal-nav-link" href="#about" data-scroll>About</a>
      </li>
      <li class="modal-nav-item" data-nav>
        <a class="modal-nav-link" href="#how-to-play" data-scroll>How to Play</a>
      </li>
      <li class="modal-nav-item" data-nav>
        <a class="modal-nav-link" href="#core-features" data-scroll>Features</a>
      </li>
      <li class="modal-nav-item" data-nav>
        <a class="modal-nav-link" href="#game-modes" data-scroll>Game Modes & Difficulty</a>
      </li>
      <li class="modal-nav-item" data-nav>
        <a class="modal-nav-link" href="#visual-style" data-scroll>Visual Style</a>
      </li>
      <li class="modal-nav-item" data-nav>
        <a class="modal-nav-link" href="#screenshots" data-scroll>Screenshots</a>
      </li>
      <li class="modal-nav-item" data-nav>
        <a class="modal-nav-link" href="#leaderboard" data-scroll>Leaderboard</a>
      </li>
      <li class="modal-nav-item" data-nav>
        <a class="modal-nav-link" href="#player-testimonials" data-scroll
          >Player Testimonialsy</a
        >
      </li>
      <li class="modal-nav-item" data-nav>
        <a class="modal-nav-link" href="#faq" data-scroll>FAQ</a>
      </li>
      <li class="modal-nav-item" data-nav>
        <a class="modal-nav-link" href="#game-info" data-scroll>Game info</a>
      </li>
      <li class="modal-nav-item" data-nav>
        <a class="modal-nav-link" href="#contact" data-scroll>Contact</a>
      </li>
    </ul>
  </nav>


</div>
</div>