<section class="section" id="screenshots">
  <div class="container screenshots-container">
    <div class="screenshots-content-container">
      <h2 class="screenshots-title">Screenshots & Preview</h2>
      <h3 class="screenshots-second-title">Inside the Orbit</h3>
      <img
        class="screenshots-img-mobile"
        srcset="
          /img/screenshots/screenshots@1x.png 1x,
          /img/screenshots/screenshots@2x.png 2x
        "
        src="/img/screenshots/screenshots@1x.png"
        alt="Gameplay and Game Over screens on two smartphones"
        width="288"
        height="225"
      />
      <p class="screenshots-text">
        Get a quick look at the gameplay mechanics, bait visuals, orbit
        animations, and celestial UI themes.
      </p>
    </div>
    <img
      class="screenshots-img-desktop"
      srcset="
        /img/screenshots/screenshots@1x.png 1x,
        /img/screenshots/screenshots@2x.png 2x
      "
      src="/img/screenshots/screenshots@1x.png"
      alt="Gameplay and Game Over screens on two smartphones"
      width="552"
      height="294"
    />
  </div>
</section>
