<section class="section" id="visual-style">
  <div class="container visual-style-container">
    <div class="visual-style-content-container">
      <h2 class="visual-style-title">Visual Style</h2>
      <h3 class="visual-style-second-title">Clean, Cosmic, and Responsive</h3>
      <img
        class="visual-style-img-mobile"
        srcset="
          /img/visual-style/visual-style@1x.png 1x,
          /img/visual-style/visual-style@2x.png 2x
        "
        src="/img/visual-style/visual-style@1x.png"
        alt="Two game screens showcasing clean, cosmic, and responsive visual style"
        width="288"
        height="204"
      />
      <p class="visual-style-text-first">
        With glowing paths, orbital trails, and smooth transitions, Space Rush
        is designed to be visually calming yet mentally intense.
      </p>
      <p class="visual-style-text-first">
        The minimal layout reduces clutter so you can focus entirely on
        survival.
      </p>
      <p class="visual-style-text">
        Each galaxy you pass reveals new color themes and sound layers, making
        every session feel unique.
      </p>
    </div>
    <img
      class="visual-style-img-desktop"
      srcset="
        /img/visual-style/visual-style@1x.png 1x,
        /img/visual-style/visual-style@2x.png 2x
      "
      src="/img/visual-style/visual-style@1x.png"
      alt="Two game screens showcasing clean, cosmic, and responsive visual style"
      width="552"
      height="294"
    />
  </div>
</section>
