.back-link {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px 16px;
  width: 288px;
  height: 40px;
  background-color: #0f1322;
  cursor: pointer;
  color: #f8f8f2;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border cubic-bezier(0.4, 0, 0.2, 1);
}

.back-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f8f8f2;
}

.back-link:active {
  background-color: #f8f8f2;
  color: #0f1322;
  border: 1px solid #0f1322;
}

.back-link:active .back-svg {
  fill: #0f1322;
}

@media screen and (min-width: 1200px) {
  .back-link {
    position: absolute;
    bottom: auto;
    left: 0;
    top: -30%;
    transform: translateY(-50%);
    width: 140px;
    background-color: #f8f8f2;
    color: #0f1322;
    border: 1px solid #0f1322;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border cubic-bezier(0.4, 0, 0.2, 1);
  }

  .back-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #0f1322;
  }
  .back-link:hover,
  .back-link:active {
    background-color: #0f1322;
    color: #f8f8f2;
  }
  .back-link:hover .back-svg,
  .back-link:active .back-svg {
    fill: #f8f8f2;
  }
  .back-link:active {
  background-color: #f8f8f2;
  color: #0f1322;
  border: 1px solid #0f1322;
}

.back-link:active .back-svg {
  fill: #0f1322;
}
}
