main {
  flex-grow: 1;
}

body {
  font-family: 'Exo 2', sans-serif;
  color: #44475a;
  background: #f8f8f2;
  line-height: 1.5;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
  scroll-margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 64px;
    padding-bottom: 64px;
    scroll-margin-top: 112px;
  }
}
