/* Styles for Mobile devices */
.container {
  width: 100%;
  max-width: 308px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding: 0 16px;
  }
}
