.footer-section {
  flex-shrink: 0;
}
.footer-roof {
  width: 100%;
  height: 8px;
  flex-shrink: 0;
  background-image: url('../img/footer/footer-diagonal-lines.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: top center;
  background-size: 100% 8px;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f1322;
  background-image: image-set(
    url('../img/footer/footer-decoration@1x.png') 1x,
    url('../img/footer/footer-decoration@2x.png') 2x
  );
  background-repeat: no-repeat;
  background-position: 144px 252px;
  background-size: 176px 64px;
  border-top: none;
  position: relative;
}
.footer-back-to-top {
  margin-bottom: 24px;
  position: relative;
  border-top: none;
}
.footer-back-to-top::before,
.footer-back-to-top::after {
  content: '';
  position: absolute;
  top: -7px;
  width: 1px;
  height: 8px;
  background-color: #747673;
  z-index: 2;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-back-to-top::before {
  left: 0;
}

.footer-back-to-top::after {
  left: calc(100% - 1px);
}

.footer-back-to-top.hovered::before,
.footer-back-to-top.hovered::after {
  background-color: #f8f8f2;
}

.footer-back-to-top-link,
.footer-back-to-top-link:active {
  display: flex;
  width: 288px;
  height: 48px;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-top: none;
  border-right: 1px solid #767673;
  border-bottom: 1px solid #767673;
  border-left: 1px solid #767673;
  color: #767673;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-back-to-top-link span {
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.footer-back-to-top-link:hover {
  color: #f8f8f2;
  stroke: #f8f8f2;
  border-right: 1px solid #f8f8f2;
  border-bottom: 1px solid #f8f8f2;
  border-left: 1px solid #f8f8f2;
}

.footer-back-to-top-link:disabled {
  color: #0f1322;
  stroke: #0f1322;
  border-right: 1px solid #0f1322;
  border-bottom: 1px solid #0f1322;
  border-left: 1px solid #0f1322;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.footer-links-title {
  margin-bottom: 12px;
  color: #767673;
  font-family: Iceberg;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  text-transform: uppercase;
}
.footer-links-list {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-left: 1px solid #767673;
}
.footer-links-list-link,
.footer-links-list-link:active {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  color: #f8f8f2;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-links-list-link:hover {
  color: #767673;
}
.footer-content-wrapper {
  width: 100%;
  margin-top: 24px;
  padding: 24px 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-image: url('../img/footer/footer-c.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 96px 128px;
}
.footer-title {
  margin-left: 44px;
  margin-top: 30px;
  color: #f8f8f2;
  font-family: Iceberg;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 83.333% */
}
.footer-desc {
  margin-top: 8px;
  margin-left: 112px;
  display: flex;
  color: #767673;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
.footer-copyright {
  padding: 24px 58px;
  border-top: 1px solid #767673;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-copyright span {
  display: flex;
  color: #767673;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
@media screen and (min-width: 1200px) {
  .footer-roof {
    width: 100%;
    height: 32px;

    background-image: url('../img/footer/footer-diagonal-lines-bg.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top center;
    background-size: 100% 32px;
  }
  .footer-container {
    background-position: top right;
  }
  .footer-back-to-top::before,
  .footer-back-to-top::after {
    top: -4px;
    height: 5px;
  }
  .footer-back-to-top-link {
    width: 161px;
  }
  .footer-links {
    margin-bottom: 56px;
  }
  .footer-links-title {
    margin-left: 36px;
    margin-bottom: 32px;
    position: relative;
  }
  .footer-links-title::after {
    content: '';
    position: absolute;
    right: 65px;
    bottom: 4px;
    width: 295px;
    height: 1px;
    background-color: #747673;
    z-index: 2;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-links-list {
    margin-left: 12px;
    flex-direction: row;
    column-gap: 40px;
    border: none;
  }
  .footer-content-wrapper {
    position: absolute;
    top: 20px;
    left: 736px;
    right: 37px;
    width: 391px;
  }
  .footer-desc {
    letter-spacing: -0.16px;
  }
  .footer-copyright {
    width: 100%;
    padding: 64px 0;
  }
}
