@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/grid';

.game-info-title {
  font-family: 'Iceberg', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.25;
  color: #131734;
  margin-bottom: 12px;
}
.game-info-second-title {
  font-family: 'Iceberg', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  color: #44475a;
  margin-bottom: 24px;
}

.game-info-swiper {
  fill: #0f1322;
  width: 48px;
  height: 48px;
}
.game-info-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0f1322;
  width: 288px;
  height: 80px;
  min-width: 236px;
  padding: 16px 40px;
}
.game-info-item-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 0;
  color: #f8f8f2;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  width: 208px;
  height: 48px;
}
.game-info-svg-right {
  fill: #0f1322;
}
.game-info-swiper-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.game-info-swiper-line {
  flex-grow: 1;
  height: 0;
  border: 1px solid #808080;
}
.game-info-swiper-list {
  display: flex;
  height: 48px;
}

.game-info-svg-right {
  flex-shrink: 1;
  transform: rotate(180deg);
}
[data-nav].is-disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
  color: #808080;
}
@media (hover: hover) and (pointer: fine) {
  .game-info-item-prev:hover svg,
  .game-info-item-next:hover svg {
    fill: #606580;
  }
  .game-info-item-prev:active svg,
  .game-info-item-next:active svg {
    fill: #0f1322;
  }
  .game-info-item-prev.is-disabled svg,
  .game-info-item-next.is-disabled svg {
    fill: #808080;
  }
}
@media screen and (min-width: 1200px) {
  .game-info-title {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 24px;
    text-align: center;
  }
  .game-info-second-title {
    text-align: center;
    line-height: 1.25;
  }
  .game-info-list {
    justify-content: center;
  }
  .game-info-item {
    align-items: center;
    justify-content: center;
    width: 236px;
    height: 80px;
    min-width: 236px;
  }
  .game-info-item-text {
    width: 156px;
  }
  .game-info-svg-right {
    flex-shrink: 1;
  }
  .game-info-main {
    margin: 0 79px;
  }
  .game-info-swiper-container {
    display: none;
  }
}
